*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#formWojewodztwo{
    margin: 20px;
}

#wojewodztwo{
    padding: 2px 0px;
    width: 300px;
}

#suggestBoxField{
    position: absolute;
    visibility: hidden;
}

.podpowiedzi{
    width:294px;
    background-color: gray;
    border-bottom:1px solid black;
    padding: 5px;
}

.podpowiedziHO{
    width:294px;
    background-color: tomato;
    border-bottom:1px solid black;
    padding: 5px;
    cursor: pointer;
}

.error{
    background-color: red;
}

.daneOWojewodztwie{
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

.cellHeader{
    font-weight: bold;
    padding-right: 10px;
}

